<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Kindle Pocket</title>
    <!-- <link rel="stylesheet" href="/js/vue/material_icons.css?randomId=<%=Math.random()%>"> -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/js/vue/materialize.min.css">
    <link href="/imgs/favicon.ico" rel="shortcut icon"/>
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
</head>
<!-- <script
	src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script> -->
<!-- <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script> -->

<body>

	<script src="/js/vue/jquery.min.js"></script>
	<script type="text/javascript" src="/js/vue/materialize.min.js"></script>
	<script src="/js/vue/vue.js"></script>

    <div id="deliveryRecords" class="container">

        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1  waves-effect">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="/imgs/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                          <span class="black-text" v-if="isBinded">
                             用户&nbsp;<a>{{userInfo.userName}}</a>&nbsp;您好，您的个人邮箱是：&nbsp;<a>{{userInfo.email}}</a>，
                             kindle邮箱是：&nbsp;<a>{{userInfo.kindleEmail}}</a>.<br/><br/>
                             <button type="button" style="float: right; margin-right: 20px"
								class="btn waves-effect waves-light black">
								<a href="toInfoUpdate"><font color="white">更新</font></a>
							</button>
                          </span>
                          <span class="black-text" v-else>
                             您尚未绑定个人邮箱信息。点击注册进行绑定。<br/><br/>
                             <button type="button" style="float: right; margin-right: 20px"
								class="btn waves-effect waves-light black">
								<a v-on:click="redirectToBindingPage()"><font color="white">注册</font></a>
							</button>
                          </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- delivery records start -->
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="material-icons">filter_drama</i>推送记录</div>
                <div class="collapsible-body">
                    <table class="centered highlight">
                        <thead>
                        <tr>
                            <th data-field="id" width="30%">书名</th>
                            <th data-field="name" width="30%">时间</th>
                            <th data-field="price" width="20%">状态</th>
                            <th data-field="price" width="20%">信息</th>
                        </tr>
                        </thead>

                        <tbody v-for="record in records">

                            <tr>
                                <td width="30%">{{record.bookTitle}}</td>
                                <td width="30%">{{renderDate(record.deliveryDate)}}</td>
                                <td width="20%">{{renderStatus(record.isDelivered)}}</td>
                                <td width="20%"><font color="#ef6c00">{{record.info}}</font></td>
                                <!-- <td width="20%">
                                    <a class="waves-effect waves-light btn-small">RESEND</a>
                                    <a class="waves-effect waves-light btn-small">DELETE</a>
                                </td> -->
                            </tr>

                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <!-- delivery records end -->
        
        <!-- comments records start -->
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>评论记录</div>
                <div class="collapsible-body">
                    <table class="centered highlight">
                        <thead>
                        <tr>
                            <th data-field="id" width="30%">书名</th>
                            <th data-field="name" width="30%">时间</th>
                            <th data-field="price" width="40%">内容</th>
                        </tr>
                        </thead>

                        <tbody v-for="comment in comments">

                            <tr>
                                <td width="30%">{{comment.title}}</td>
                                <td width="30%">{{renderDate(comment.createdDate)}}</td>
                                <td width="40%"><font color="#ef6c00">{{comment.content}}</font></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <!-- comments records end -->
		
		 <!-- suggestion records start -->
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>意见记录</div>
                <div class="collapsible-body">
                    <table class="centered highlight">
                        <thead>
                        <tr>
                            <th data-field="name" width="30%">时间</th>
                            <th data-field="price" width="40%">内容</th>
                            <th data-field="price" width="40%">反馈</th>
                        </tr>
                        </thead>

                        <tbody v-for="suggestion in suggestions">

                            <tr>
                                <td width="30%">{{renderDate(suggestion.createdDate)}}</td>
                                <td width="30%"><font color="#009688">{{suggestion.content}}</font></td>
                                <td width="40%"><font color="#ef6c00">{{suggestion.callback}}</font></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
        <!-- suggestion records end -->

    </div>

</body>

<!-- <script
	src="https://unpkg.com/vue-resource@1.1.2/dist/vue-resource.min.js"></script> -->
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
<!-- <script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> -->

<script src="/js/vue/deliveryRecords.js"></script>
</html>