<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<title>Kindle Pocket</title>
<!-- <link rel="stylesheet" href="/js/vue/material_icons.css?randomId=<%=Math.random()%>"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/js/vue/materialize.min.css?randomId=<%=Math.random()%>">
<link rel="stylesheet" href="/js/vue/mint-ui.css"> 
</head>

<!-- <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"> -->
<!-- 引入mint-ui样式 -->
<!-- <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css"> -->
<!-- <script
	src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script> -->
<!-- <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script> -->
<!-- 引入mint-ui组件库 -->
<!-- <script src="https://unpkg.com/mint-ui/lib/index.js"></script> -->

<style>
body {<!--
	min-height: 2000px; -->
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#floatBtn { //
	opacity: 0.1
}

/* #loading {
	width: 60px !important;
	height: 60px !important;
	text-align: center !important;
} */
</style>



<body class="grey lighten-3">

	<script src="/js/vue/jquery.min.js"></script>
	<script type="text/javascript" src="/js/vue/materialize.min.js?randomId=<%=Math.random()%>"></script>
	<script src="/js/vue/vue.js"></script>
	<script src="/js/vue/mint-ui.js"></script>

	<script>

		var closeFAB = function() {
			//$('.fixed-action-btn').closeFAB();
		}
	
		function popUpCommentModal(id) {
			$('#' + id + '').modal();
		};
	
		function closeFAB() {
			$('#bottomButton').closeFAB();
		}
		
		$(document).ready(function(){
		    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		    $('.modal').modal();
		  });
		
	</script>

	<main>
	<div id="details" class="container">

		<!-- loading -->
		<div class="row" v-if="loading">

			<div class="col s5"></div>
			<div class="col s2">
				<span id="loading" style="padding-left: 2000px"> <mt-spinner
						type="double-bounce" color="#607d8b" :size="40"></mt-spinner>
				</span>
			</div>
			<div class="col s5"></div>

		</div>

		<div v-if="!loading" v-for="detail in details">
			<div class="col s12 m7">
				<!--<h2 class="header">Horizontal Card</h2>-->
				<div class="card horizontal hoverable">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="/imgs/header.jpg">
					</div>
					<div class="card-stacked">
						<div class="card-content waves-effect">
							<b v-cloak>{{detail.title}}</b><br />
							<p v-cloak>作者：{{detail.author}} &nbsp;&nbsp;&nbsp;
								大小：{{process(detail.size)}}</p>
							<p v-cloak>格式：{{detail.format}} &nbsp;&nbsp;&nbsp;
								发送次数：{{detail.kindleMailTimes}}</p>
						</div>
						<div class="card-action">
							<a turnToSuccess href="###"
								class="btn-small waves-effect lighten-4 z-depth-0"
								v-on:click="sendMail(detail.id)"><font size="2px">Send
									To Kindle</font></a> <a href="#comment"
								class="modal-trigger btn-small waves-effect lighten-4 z-depth-0"
								:name="detail.id" v-on:clic><font
								size="2px">COMMENT</font></a>
						</div>

					</div>
				</div>
			</div>
		</div>
		
		<!-- Comments Modal -->
		<div id="comment" class="modal bottom-sheet">
			<div class="modal-content">
				<div class="row">
				      <div class="row">
				        <div class="input-field col s12">
				          <i class="material-icons prefix">mode_edit</i>
				          <textarea id="icon_prefix2" length="140" class="materialize-textarea"></textarea>
				          <label for="icon_prefix2">写下您的评论：</label>
				        </div>
				      </div>
				  </div>
			</div>
			<div class="modal-footer">
				<a href="#!"
					class="modal-action modal-close waves-effect btn-flat z-depth-1"
					type="submit">提交</a>
			</div>
		</div>
		<!-- Modal Structure End -->


		<!-- pagination -->
		<!-- <div align="center">
			<ul class="pagination">
				<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
				<li class="active"><a href="#!" ng-click="pagination(1,8)">1</a></li>
				<li class="waves-effect"><a href="#!"
					ng-click="pagination(2,8)">2</a></li>
				<li class="waves-effect"><a href="#!"
					ng-click="pagination(3,8)">3</a></li>
				<li class="waves-effect"><a href="#!"
					ng-click="pagination(4,8)">4</a></li>
				<li class="waves-effect"><a href="#!"
					ng-click="pagination(5,8)">5</a></li>
				<li class="waves-effect"><a href="#!"><i
						class="material-icons">chevron_right</i></a></li>
			</ul>
		</div> -->

		<div v-if="!loading" class="fixed-action-btn click-to-toggle"
			id="bottomButton" style="bottom: 110px; right: 28px;"
			onclick="closeFAB()">
			<a id="floatBtn"
				class="btn-floating btn-middle red waves-effect z-depth-2"> <i
				class="large material-icons">add</i>
			</a>
			<ul>
				<li><a class="btn-floating yellow darken-1 z-depth-2"
					href="toDeliveryRecords"><i class="material-icons">perm_identity</i></a></li>
				<li><a class="btn-floating red  waves-effect z-depth-2"><i
						class="material-icons">message</i></a></li>
				<li><a class="btn-floating green waves-effect z-depth-2"><i
						class="material-icons">search</i></a></li>
				<li><a
					class="btn-floating blue waves-effect z-depth-2 modal-trigger"
					href="#bottomModal"><i class="material-icons">live_help</i></a></li>
			</ul>
		</div>

	</div>





	<!-- Bottom Modal -->
	<div id="bottomModal" class="modal bottom-sheet">
		<div class="modal-content">
			<h8>Any problems? Please feel free to let me know.</h8>
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<textarea id="questions" class="materialize-textarea"></textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-green btn-flat"
				ng-click="sendProblems()">Send</a>
		</div>
	</div>

	</main>

</body>

<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
<!-- <script src="/js/lib/jquery.min.js"></script> -->
<!-- <script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> -->

<script src="/js/vue/details.js"></script>

</html>