<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/js/vue/materialize.min.css">
<title>Kindle Pocket</title>
<!-- Compiled and minified CSS -->
<!-- <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"> -->

<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet"> -->
<!-- <script src="https://unpkg.com/vue@2.1.10/dist/vue.min.js"></script> -->
<!-- <script type="text/javascript"
	src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script> -->

</head>
<style>
body {<!--
	min-height: 2000px; -->
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#register_form {
	margin-top: 20px;
}
</style>
<body>

	<script src="/js/vue/jquery.min.js"></script>
	<script src="/js/vue/materialize.min.js"></script>
	<script src="/js/vue/vue.js"></script>
	
	<div id="register">
		<!-- <div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper black">
					<a href="#" class="brand-logo" style="margin-left: 20px">Kindle
						Pocket</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="#">注册</a></li>
						<li><a href="#">登录</a></li>
					</ul>
				</div>
			</nav>
		</div> -->
		<div class="container">
			<!-- register form start -->
			<div id="register_form" class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">account_circle</i> <input
								id="icon_prefix" type="text" class="validate"
								v-model="newUserInfo.userName" /> <label for="icon_prefix">用户名</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">phone</i> <input
								id="icon_telephone" type="tel" class="validate"
								v-model="newUserInfo.phone"> <label for="icon_telephone">手机号</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">email</i> <input id="icon_email"
								type="email" class="validate" v-model="newUserInfo.email">
							<label for="icon_email">个人邮箱</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">lock</i> <input
								id="icon_password" type="password" class="validate"
								v-model="newUserInfo.emailPwd"> <label
								for="icon_password">个人邮箱密码或授权码</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">email</i> <input
								id="icon_kindle_email" type="email" class="validate"
								v-model="newUserInfo.kindleEmail"> <label
								for="icon_kindle_email">Kindle邮箱</label>
						</div>
					</div>
					<button type="button" style="float: right; margin-right: 20px"
						class="btn waves-effect waves-light black" @click="register">
						<font color="white">注册</font>
					</button>
					<!-- <button type="button" style="float: right; margin-right: 20px"
						class="btn waves-effect waves-light black" @click="test">
						<font color="white">测试</font>
					</button> -->
				</form>
			</div>
		</div>
	</div>

</body>

<!-- <script type="text/javascript" src="/js/vue/vue-resource.js"></script> -->
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
<script type="text/javascript" src="/js/vue/register.js"></script>
<!-- <script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> -->

</html>