<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
    <script src="/js/lib/angular-1.3.0.js"></script>
    <script src="/js/lib/ng-file-upload-shim.js"></script>
    <script src="/js/lib/ng-file-upload.js"></script>
    <script src="/js/controller/fileUploadController.js"></script>
</head>
<body>

Upload on form submit or button click
<form ng-app="fileUpload" ng-controller="MyCtrl" name="form">
    Single Image with validations
    <button class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
         ngf-resize="{width: 100, height: 100}">Select</button><br/>
    Multiple files
    <button class="button" ngf-select ng-model="files" ngf-multiple="true">Select</button>
    Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div><br/>
    <button type="submit" ng-click="submit()">submit</button><br/>
</form>

Upload right away after file selection:
<button class="button" ngf-select="upload($file)">Upload on file select</button><br/>
<button class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</button><br/>
Drop File:
<div ngf-drop="uploadFiles($files)" class="drop-box"
     ngf-drag-over-class="'dragover'" ngf-multiple="true"
     ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div><br/>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

<!--Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'">
Audio preview: <audio controls ngf-src="file"></audio>
Video preview: <video controls ngf-src="file"></video>-->

</body>
</html>