<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>register</title>
</head>

<!-- Loading Bootstrap -->
<link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<!-- Loading Flat UI -->
<link href="/css/flat-ui.css" rel="stylesheet" />

<link href="/imgs/favicon.ico" rel="shortcut icon" />

<script src="/js/jquery.min.js"></script>
<script src="/js/flat-ui.min.js"></script>
<script src="/js/application.js"></script>

<body>

<div class="login">
    <div class="login-screen">
        <div class="login-form">

            <div class="form-group">
                <input type="text" class="form-control login-field" value="" placeholder="请输入手机号" id="binding-phone" />
                <label class="login-field-icon fui-user" for="binding-phone"></label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control login-field" value="" placeholder="请输入个人邮箱" id="binding-email" />
                <label class="login-field-icon fui-mail" for="binding-email"></label>
            </div>

            <div class="form-group">
                <input type="password" class="form-control login-field" value="" placeholder="请输入个人邮箱密码或授权码" id="binding-pwd" />
                <label class="login-field-icon fui-lock" for="binding-pwd"></label>
            </div>

            <div class="form-group">
                <input type="text" class="form-control login-field" value="" placeholder="请输入kindle邮箱" id="binding-kindleEmail" />
                <label class="login-field-icon fui-mail" for="binding-kindleEmail"></label>
            </div>


            <a class="btn btn-primary btn-lg btn-block" href="#">绑定！</a>
            <a class="login-link" href="#">Any problem ?</a>
        </div>
    </div>
</div>

</body>
</html>