<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta content="text/html;charset=utf-8" />
<title>Kindle Pocket</title>

<!-- Loading Bootstrap -->
<link th:href="@{/css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

<!-- Loading Flat UI -->
<link th:href="@{/css/flat-ui.css}" rel="stylesheet" />

<link th:href="@{/imgs/favicon.ico}" rel="shortcut icon" />

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/flat-ui.min.js}"></script>
<script th:src="@{/js/application.js}"></script>

</head>
<body>
	<style>
body {
	min-height: 2000px;
	padding-top: 70px;
	background-color: gainsboro;
}

.container {
	margin-top: 20px;
}

#sendToKindleBtn {
	margin-left: 80px;
}

#sendToOtherEmailsBtn {
	margin-left:10px;
}
</style>

	<nav
		class="navbar navbar-inverse navbar-lg navbar-embossed navbar-fixed-top"
		role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse-9">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Kindle Pocket</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapse-9">
				<form class="navbar-form navbar-right" role="form">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control" />
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control" />
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
					<button type="submit" class="btn btn-danger">Register</button>
				</form>

			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>


	<div class="container">
		<h4>Search Results</h4>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="todo">
					<div class="todo-search">
						<input class="todo-search-field" type="search" value=""
							placeholder="Search" />
					</div>
					<ul>
						<li class="todo-done">
							<div class="todo-icon fui-user"></div>
							<div class="todo-content">
								<h4 class="todo-name">
									Meet <strong>Adrian</strong> at <strong>6pm</strong>
								</h4>
								Times Square
							</div>
						</li>
						<li>
							<div class="todo-icon fui-list"></div>
							<div class="todo-content">
								<h4 class="todo-name">
									Chat with <strong>V.Kudinov</strong>
								</h4>
								Skype conference an 9 am
							</div>
						</li>
						<li>
							<div class="todo-icon fui-eye"></div>
							<div class="todo-content">
								<h4 class="todo-name">
									Watch <strong>Iron Man</strong>
								</h4>
								1998 Broadway
							</div>
						</li>
						<li>
							<div class="todo-icon fui-time"></div>
							<div class="todo-content">
								<h4 class="todo-name">
									Fix bug on a <strong>Website</strong>
								</h4>
								As soon as possible
							</div>
						</li>
					</ul>
				</div>
				<!-- /.todo -->
			</div>
			<!-- /.col-md-4 -->
		</div>
		<!-- /.row -->

		<button id="sendToKindleBtn" type="button"
			class="btn btn-primary btn-sm">Send to Kindle</button>
		<button id="sendToOtherEmailsBtn" type="button"
			class="btn btn-primary btn-sm">Send to Other Emails</button>

	</div>
	<!-- /.container -->
	<!-- /container -->


</body>
</html>
